<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Design Taco</title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>  
  </head>

  <body class="p-3 mb-2 bg-body-secondary">
    <h1 style="text-align: center;">Design your taco!</h1>
    <h2>Feeling hungry?, <span th:text="${user.fullname}">NAME</span></h2>

    <form th:method="POST" th:object="${taco}" th:action="@{/design}" id="tacoForm">

    <input type="hidden" name="_csrf" value="${_csrf.token}" />

    <span class="validationError"
          th:if="${#fields.hasErrors('ingredients')}"
          th:errors="*{ingredients}">Ingredient Error</span>

    <div class="grid">
      <div class="ingredient-group" id="wraps">
      <h3>Designate your wrap:</h3>
      <table style="margin:auto;">
      <div th:each="ingredient : ${wrap}">
        <tr>
        <td>
        <input th:field="*{ingredients}" type="checkbox"
               th:value="${ingredient.id}"/>
        <span th:text="${ingredient.name}">INGREDIENT</span>
        </td>
        <td>
        <img th:src="@{${ingredient.image}}" style="width:100px;height:100px;" >
        </td>
      </tr>
      </div>
    </table>
      </div>

	  <div class="ingredient-group" id="proteins">
      <h3>Pick your protein:</h3>
      <table style="margin:auto;">
      <div th:each="ingredient : ${protein}">
        <tr><td>
        <input th:field="*{ingredients}" type="checkbox"
               th:value="${ingredient.id}"/>
        <span th:text="${ingredient.name}">INGREDIENT</span>
        </td>
        <td>
        <img th:src="@{${ingredient.image}}" style="width:100px;height:100px;" >
        </td>
        </tr>
      </div>
      </table>
      </div>

	  <div class="ingredient-group" id="cheeses">
      <h3>Choose your cheese:</h3>
      <table style="margin:auto;">
      <div th:each="ingredient : ${cheese}">
        <tr><td>
          <input th:field="*{ingredients}" type="checkbox"
                 th:value="${ingredient.id}"/>
          <span th:text="${ingredient.name}">INGREDIENT</span>
          </td>
          <td>
          <img th:src="@{${ingredient.image}}" style="width:100px;height:100px;" >
          </td>
          </tr>
          </div>
      </table>
      </div>

	  <div class="ingredient-group" id="veggies">
      <h3>Determine your veggies:</h3>
      <table style="margin:auto;">
      <div th:each="ingredient : ${veggies}">
        <tr><td>
          <input th:field="*{ingredients}" type="checkbox"
                 th:value="${ingredient.id}"/>
          <span th:text="${ingredient.name}">INGREDIENT</span>
          </td>
          <td>
          <img th:src="@{${ingredient.image}}" style="width:100px;height:100px;" >
          </td>
          </tr>      
        </div>
      </table>
      </div>

	  <div class="ingredient-group" id="sauces">
      <h3>Select your sauce:</h3>
      <table style="margin:auto;">
      <div th:each="ingredient : ${sauce}">
        <tr><td>
          <input th:field="*{ingredients}" type="checkbox"
                 th:value="${ingredient.id}"/>
          <span th:text="${ingredient.name}">INGREDIENT</span>
          </td>
          <td>
          <img th:src="@{${ingredient.image}}" style="width:100px;height:100px;" >
          </td>
          </tr>
      </div>
    </table>
      </div>
      </div>

      <div>


      <h3>Name your taco creation:</h3>
      <input type="text" th:field="*{name}"/>
      <span class="validationError"
            th:if="${#fields.hasErrors('name')}"
            th:errors="*{name}">Name Error</span>
      <br/>

      <input type="submit" value="Submit your Taco">
      </div>
    </form>

    <form method="post" th:action="@{/logout}">
      <input type="submit" value="Logout">
    </form>
  </body>
</html>
